# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BUILD_OUTPUT_HEX
    default y

config ZMK_SPLIT
    default y

if SHIELD_VIRGOBLE_DONGLE

config ZMK_KEYBOARD_NAME
    default "virgoBLE"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
    default y

endif

if SHIELD_VIRGOBLE_TST || SHIELD_VIRGOBLE_LEFT  || SHIELD_VIRGOBLE_RIGHT

config ZMK_KSCAN_DEBOUNCE_PRESS_MS
    default 1

config ZMK_KSCAN_DEBOUNCE_RELEASE_MS
    default 5

endif
