/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/dts-v1/;
#include <nordic/nrf52832_qfaa.dtsi>
#include "code_partition.dtsi"
#include <dt-bindings/zmk/matrix_transform.h>

/ {
    model = "HOLYIOT_YJ_16048 Board";
	compatible = "holyiot_yj_16048";

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
			label = "Red LED";
		};
		led1: led_1 {
			gpios = <&gpio0 8 GPIO_ACTIVE_LOW>;
			label = "Green LED";
		};
		led2: led_2 {
			gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
			label = "Blue LED";
		};
	};

    aliases {
        led-red = &led0;
        led-green = &led1;
        led-blue = &led2;
    };

};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&adc {
	status = "okay";
};
