# SPDX-License-Identifier: Apache-2.0

CONFIG_BOARD_HOLYIOT_YJ_16048=y
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52832_QFAA=y

# enable MPU
CONFIG_ARM_MPU=n

# clock - we don't have an external one
CONFIG_CLOCK_CONTROL_NRF_K32SRC_RC=y
CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=n

# enable GPIO
CONFIG_GPIO=y
CONFIG_PINCTRL=y

## we use these pins for the keyboard
CONFIG_GPIO_AS_PINRESET=n
CONFIG_NFCT_PINS_AS_GPIOS=y

# enable settings
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y
CONFIG_NVS=y
CONFIG_SETTINGS=y
CONFIG_SETTINGS_NVS=y

# we need this to make sure that we don't overflow the
# usable flash area, as our available space is severely limited
CONFIG_USE_DT_CODE_PARTITION=y

# ZMK
## we don't have battery reporting (yet or maybe never)
CONFIG_ZMK_BATTERY_REPORTING=n
CONFIG_ZMK_EXT_POWER=n

## we only have ble
CONFIG_ZMK_USB=n
CONFIG_ZMK_BLE=y

# optimizations for RAM
CONFIG_HEAP_MEM_POOL_SIZE=1024
CONFIG_SYSTEM_WORKQUEUE_STACK_SIZE=2560

# limit number of connections
CONFIG_BT_MAX_CONN=1
CONFIG_BT_MAX_PAIRED=3

# optimizations for ROM
CONFIG_SIZE_OPTIMIZATIONS=y
CONFIG_DEBUG_OPTIMIZATIONS=n

# debug
CONFIG_LOG=n
CONFIG_DEBUG=n
CONFIG_ASSERT=n
CONFIG_USE_SEGGER_RTT=n


# # Disable features not needed
# CONFIG_TIMESLICING=n
# CONFIG_MINIMAL_LIBC_MALLOC=n
# CONFIG_LOG=n
# CONFIG_ASSERT=n

# # Disable Bluetooth features not needed
# CONFIG_BT_DEBUG_NONE=y
# CONFIG_BT_ASSERT=n
# CONFIG_BT_DATA_LEN_UPDATE=n
# CONFIG_BT_PHY_UPDATE=n
# CONFIG_BT_GATT_CACHING=n
# CONFIG_BT_GATT_SERVICE_CHANGED=n
# CONFIG_BT_GAP_PERIPHERAL_PREF_PARAMS=n
# CONFIG_BT_SETTINGS_CCC_LAZY_LOADING=y
# CONFIG_BT_HCI_VS_EXT=n

# # Disable Bluetooth controller features not needed
# CONFIG_BT_CTLR_PRIVACY=n
# CONFIG_BT_CTLR_PHY_2M=n

# # Reduce Bluetooth buffers
# CONFIG_BT_BUF_EVT_DISCARDABLE_COUNT=1
# CONFIG_BT_BUF_EVT_DISCARDABLE_SIZE=43
# CONFIG_BT_BUF_EVT_RX_COUNT=2

# CONFIG_BT_CONN_TX_MAX=2
# CONFIG_BT_L2CAP_TX_BUF_COUNT=2
# CONFIG_BT_BUF_ACL_TX_COUNT=3
# CONFIG_BT_BUF_ACL_TX_SIZE=27

CONFIG_ZMK_PM_SOFT_OFF=y
CONFIG_ZMK_SLEEP=y
CONFIG_ZMK_IDLE_SLEEP_TIMEOUT=900000