# SPDX-License-Identifier: Apache-2.0

CONFIG_BOARD_HOLYIOT_YJ_16048=y
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52832_QFAA=y

#CONFIG_ROM_START_OFFSET=0X1000
#CONFIG_FLASH_LOAD_OFFSET=0X26000
CONFIG_BUILD_OUTPUT_UF2=y

# enable MPU
CONFIG_ARM_MPU=y

# 32KHz clock source
CONFIG_CLOCK_CONTROL_NRF_K32SRC_XTAL=y

# enable GPIO
CONFIG_GPIO=y
CONFIG_PINCTRL=y

# Enable writing to flash
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y
CONFIG_USE_DT_CODE_PARTITION=y
CONFIG_MPU_ALLOW_FLASH_WRITE=y
CONFIG_NVS=y
CONFIG_SETTINGS_NVS=y

## we only have ble
CONFIG_ZMK_USB=n
CONFIG_ZMK_BLE=y

# debug
CONFIG_LOG=n
CONFIG_DEBUG=n
CONFIG_ASSERT=n
CONFIG_USE_SEGGER_RTT=n
